<!DOCTYPE html>
<html>
  <head>
    <title>DishFinder</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css" />
  </head>
  <body>
    <h1>DishFinder</h1>
    <form method="POST" action="/">
      <label for="url">Enter recipe URL:</label>
      <input type="text" id="url" name="url" required />
      <button type="submit">Get Recipe</button>
    </form>
    {% if ingredients and directions %}
    <h2>Ingredients:</h2>
    <ul>
      {% for ingredient in ingredients %}
      <li>{{ ingredient }}</li>
      {% endfor %}
    </ul>
    <h2>Directions:</h2>
    <ol>
      {% for direction in directions %}
      <li>{{ direction }}</li>
      {% endfor %}
    </ol>
    <button onclick="copyToClipboard()">Copy to Clipboard</button>
    {% endif %}
    <script>
      function copyToClipboard() {
        var ingredients = document.getElementById("ingredients").innerText;
        var directions = document.getElementById("directions").innerText;
        var text =
          "Ingredients:\n" + ingredients + "\n\nDirections:\n" + directions;
        navigator.clipboard.writeText(text);
      }
    </script>
  </body>
</html>
