<!DOCTYPE html>
<html>
  <head>
    <title>DishFinder</title>

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
    />
  </head>
  <body>
    <h1>DishFinder</h1>

    <div class="container">
      <form method="POST" action="/">
        <label for="url">Enter recipe URL:</label>
        <br />
        <input type="text" id="url" name="url" required />
        <button type="submit" class="btn btn-primary">Get Recipe</button>
      </form>
    </div>

    <br />
    <br />
    <br />
    <br />
    <br />
    <br />

    {% if error_message %}
    <div class="error-message">{{ error_message }} Try a different webiste</div>
    {% endif %} {% if ingredients and directions %}

    <div class="container">
      <h2>{{ title }}</h2>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="card">
            <div class="card-header">
              <h1>Ingredients</h1>
            </div>
            <div class="card-body">
              <ul id="ingredients">
                {% for ingredient in ingredients %}
                <li>{{ ingredient }}</li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card">
            <div class="card-header">
              <h1>Directions</h1>
            </div>
            <div class="card-body">
              <ol>
                <p id="directions">{{ directions }}</p>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </div>

    {% endif %}
    <script>
      function copyToClipboard() {
        var ingredients = document.getElementById("ingredients").innerText;
        var directions = document.getElementById("directions").innerText;
        var text =
          "Ingredients:\n" + ingredients + "\n\nDirections:\n" + directions;
        navigator.clipboard.writeText(text);
      }
    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
